body {
	background-color: rgb(44, 62, 68);
}

.header h2 {
	color: #DC4247;
}

.header p {
	color: #50524F;
}

.results {
	margin-top: 20px;
}

.search-select {
	display: flex;
	flex-direction: row;
	flex-basis: 1;
}

.selector {
	background-color: rgb(167, 202, 224)
}

select {
	padding: 0px;
	margin: 0px;
}

a {
	text-decoration: none;
}